# Dependências
node_modules/
package-lock.json

# Ambientes
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db

# Postman (opcional - pode commitar se quiser)
# postman/globals/